.jumbotron h1{
  text-align: center;
  color: white;
  font-size: 100px;
}
.btn{
  background-color: #56A8AE;
}
.btn:hover{
  background-color: #56A8AE;
  text-decoration: underline;
  cursor: pointer;
}
.clickToView {
  cursor: pointer;
  color: #0088cc;
}
.clickToView:hover {
  text-decoration: underline;
}
body{
  font-family: 'Abel', sans-serif;
  font-size: 1000;
  text-align: center;
  background-image: url(http://senseable.mit.edu/obama/images/the-world-1.jpg);
  background-size: cover;
  color: white;
}
.jumbotron {
  background-color: #B0E0E6;
  background-repeat: no-repeat;
  background-size: cover;
}
input{
  background-color: black;
}
form {
  font-size: 20px;
}
.result{
  font-size: 20px;
}
h4{
  font-size: 100px;
}
